{% extends "email/base_email.html" %}
{% block title %}Your ID submission has been rejected{% endblock %}
{% block content %}
<h1>Hello {{ student_name }},</h1>
<p>We regret to inform you that your most recent submission for an ID was rejected.</p>
<p>Rejection comments:</p>
<textarea readonly style="resize:none; width:300px; height:100px;">{{ REJECTION_COMMENTS }}</textarea>
<p>To submit a new request click the button below:</p>
<p style="text-align:center;">
  <a href="{{ USER_LOGIN_URL }}" class="btn">Submit New Request</a>
</p>
<p>Best regards,<br>{{ COMPANY_EMAIL_SIGNATURE }}</p>
{% endblock %}
