{% extends "base.html" %}

{% block content %}
<h3 class="card-title text-center mb-4">Account recovery</h3>
<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow">
        <div class="card-body">
            
            <form method="post" action="{{ url_for('main.forgot_password') }}">
                <div class="mb-3">
                    <input type="text" id="identifier" name="identifier" class="form-control" placeholder="Enter your email or username" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="{{ url_for('main.admin') }}">Back to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}